.Analyze{
    margin-top:100px;
    bottom: 0px;
    position: relative;
    width: 100%;
    color: $color_text;
    text-align: center;
    font-family: $font;
}
select{
    cursor: pointer;
    background-color: transparent;
    color: $color_text;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    height: 40px;
}:focus {
    outline: none;
}
.SelectDB{
    margin-right: 50px;
}
.SelectCat{
    margin-top: 10px;
}
.firstOne{
    
    margin-top: 20px;
    margin-right: 50px;
}

select option{
    background-color: $color_back;
}
.Algos1{
    margin-top: 30px;
    display: none;
}
.Algos2{
    margin-top: 30px;
    display: none;
}
.GradientBoosting{
    display: none
}
.RandomForest{
    
    display: none
}
.Ridge{
    display: none;
    
}
.BayesianARDRegression{
    
    display: none
}
.LinearSVC{
    
    display: none
}
.AdaBoost{
    
    display: none
}
.GradientBoosting2{
    
    display: none
}
.RandomForest2{
    
    display: none
}
.LogisticRegression{
    
    display: none
}

.Parametre select{
    background-color: transparent;
    position: relative;
    color: $color_text;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
}
td{
    height: 70px;
    width: 200px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: $color_text;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: $color_back;
    box-shadow: 0px 0px 10px black ;
}
.checkbox-tools:checked + label{
	background-color: $color_text;
    color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.boutonSend{
    width: 200px;
    height: 40px;
    margin-top: 100px;
}
.divinput{
    width: 100%;
    top: -110px;
    position:relative;
    text-align: center;
    display: none;
}
.analyzeName{
    border-radius:16px ;
    width: 250px;
    color: $color_text;
    border:none;
    
    height: 35px;
    background-color: black;
}::placeholder{
    color: $color_placeholder;
}

.help{
    height: 15px;
    width: 15px;
}


.divSelectMultiple{
    height: 40px;
    overflow-y: hidden;
    margin-top: 40px;
    text-align: left;
    background-color: transparent;
    color: $color_text;
    width: 210px;
    margin-left: 50px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    margin-left: auto;
    margin-right: auto;
}

.divSelectMultipleOpen{
    overflow-y: scroll;
    margin-top: 40px;
    text-align: left;
    background-color: transparent;
    color: $color_text;
    width: 210px;
    margin-left: 50px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: closeUp;
}
@keyframes closeUp{
    from{
        height: 40px;
    }
    to{
        height: 200px;
    }
}


.divSelectMultipleClose{
    overflow-y: hidden;
    margin-top: 40px;
    text-align: left;
    background-color: transparent;
    color: $color_text;
    width: 210px;
    margin-left: 50px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: openUp;
}
@keyframes openUp{
    from{
        height: 200px;
    }
    to{
        height: 40px;
    }
}

.selectLike{
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    color: $color_text;
    width: 200px;
    height: 30px;
    border: none;
    border-color: $color_text;
    padding-top: 10px;
}

.parametersCheckbox{
    color: $color_text;
    
}