.Analyze{
    margin-top:100px;
    bottom: 0px;
    position: relative;
    width: 100%;
    color: $color_text;
    text-align: center;
    font-family: $font;
}
select{
    cursor: pointer;
    color: $color_text;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    height: 40px;
}:focus {
    outline: none;
}
.SelectDB{
    margin-left: 25px;
    margin-right: 25px;
}
.first{
    margin-top: 20px;
}

.Algos1{
    margin-top: 30px;
    display: none;
    label{
        -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
        backdrop-filter: blur($blur);
        background-color: $color_back;
    }
}
.Algos2{
    margin-top: 30px;
    display: none;
    label{
        -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
        backdrop-filter: blur($blur);
        background-color: $color_back;
    }
}
.GradientBoosting{
    display: none
    
}
.Automatic{
    display: none
    
}
.Automatic2{
    display: none
    
}
.RandomForest{
    
    display: none
}
.Ridge{
    display: none;
    
}
.BayesianARDRegression{
    
    display: none
}
.LinearSVC{
    
    display: none
}
.AdaBoost{
    
    display: none
}
.GradientBoosting2{
    
    display: none
}
.RandomForest2{
    
    display: none
}
.LogisticRegression{
    
    display: none
}
.blurAnalyze{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
        backdrop-filter: blur($blur);
        background-color: $color_back;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 30px;
    border-radius: 32px;
}
.Parametre select{
    background-color: $color_back;
    position: relative;
    color: $color_text;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
}
td{
    height: 70px;
    width: 200px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: $color_text;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: $color_back;
    box-shadow: 0px 0px 10px black ;
}
.checkbox-tools:checked + label{
	background-color: $color_text;
    color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.boutonSendanalyze{
    
    width: 200px;
    height: 40px;
    margin-top: 100px;
}

.boutonSendanalyze:disabled{
    color:gray;
    
    background-color: $color_back;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    &:hover{
        cursor:default;
        color: gray;
        background-color: $color_back;
    }
}
.divinput{
    width: 100%;
    top: -110px;
    position:relative;
    text-align: center;
    display: none;
}
.analyzeName{
    border-radius:16px ;
    width: 250px;
    color: $color_text;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    border:none;
    margin-top: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    height: 35px;
    background-color: $color_back;
}::placeholder{
    color: $color_placeholder;
}

.help{
    height: 15px;
    width: 15px;
}


.divSelectMultiple{
    display: none;
}

.divSelectMultipleOpen{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    overflow-y: scroll;
    text-align: left;
    background-color: $color_back;
    color: $color_text;
    width: 210px;
    margin-left: 50px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: closeUp;
}
@keyframes closeUp{
    from{
        height: 0px;
    }
    to{
        height: 200px;
    }
}


.divSelectMultipleClose{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    overflow-y: hidden;
    text-align: left;
    background-color: $color_back;
    color: $color_text;
    width: 210px;
    margin-left: 50px;
    border: none;
    border-radius: 16px;
    border-color: $color_text;
    box-shadow: 0px 0px 20px black ;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: openUp;
}
@keyframes openUp{
    from{
        height: 200px;
    }
    to{
        height: 0px;
    }
}
.boutonselect{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    background-color: $color_back;
    color: $color_text;
    width: 210px;
    border-radius: 16px;
    height: 28px;
    font-size: small;
    border: none;
    border-color: $color_text;
    padding-top: 13px;
    box-shadow:0px 0px 20px black  ;
}

.parametersCheckbox{
    color: $color_text;
}

.loading{
    display: none;
}

.loading-content {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 100px auto;
    overflow: hidden;
    background: $color_back;
    box-shadow:  10px 10px 20px #000000,
               -10px -10px 20px #000000;
    animation: spin;
    .loading-content__center-part {
      position: relative;
      top: 50%;
      z-index: 999;
      height: 160px;
      width: 160px;
      transform: translateY(-50%);
      margin-left: 20px;
      border-radius: 100%;
      background: $color_back;
      box-shadow: inset 5px 5px 20px #000000,
              inset -5px -5px 20px #000000;
    }
    .loading-content__loader {
      position: absolute;
      left: 92.5px; /* (width of loading-content / 2) - (width of content__loader / 2) */
      top: 0;
      height: 100%;
      width: 15px;
      -webkit-animation: spin 3s infinite linear;
      .loading-content__loader-content {
        height: 40px; // loading-content - loading-content__center-part
        width: 100%;
        background-color: $color_text;
        box-shadow: 0px 0 40px 60px $color_text;
      }
    }
  }
  
  /* Spin endless */
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  