.barreLaterale{
    display: none;
}
.profileInformations{
    color: $color_text;
    font-family: $font;
    margin-top: 140px;
    .profileMail{
        font-size: small;
    }
}

.openBar{
    overflow: hidden;
    background: $color_trans;
    position: fixed;
    border-radius: 16px;
    left: 20px;
    top: 60px;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    box-shadow: 0px 5px 10px black ;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: openBar;
}

@keyframes openBar{
    from{
        width: 0px;
        height: 0px;
    }
    to{
        width: 250px;
        height: 300px;
    }
}

.closeBar{
    overflow: hidden;
    background: $color_trans;
    border-radius: 16px;
    position: fixed;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    left: 20px;
    top: 60px;
    box-shadow: 0px 5px 10px black ;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: closeBar;
   
}

@keyframes closeBar{
    from{
        width: 250px;
        height: 300px;
    }
    to{
        width: 0px;
        height: 0px;
    }
}