.DataVisu{
    text-align: center;
    color: $color_text;
}

.firstOne{
    margin-top: 40px;
    
}
.dataVisuName{
    border-radius:16px ;
    width: 250px;
    color: $color_text;
    border:none;
    height: 35px;
    background-color: black;
}

.divDataVisuName{
    width: 100%;
    margin-top: 50px;
    position:relative;
    text-align: center;
}
.boutonSend{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 60px;
    
    height: 40px;
    width: 200px;
}
.boutonSend:disabled{
    color:gray;
    
    background-color: $color_back;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    &:hover{
        cursor:default;
        color: gray;
        background-color: $color_back;
    }
}

.downloadDash{
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer;
}
.trashDash{
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer;

}

.indicSample{
    margin-top: 40px;
    margin-bottom: -20px;
    color: $color_text;
}

.inputSample{
    position: absolute;
    margin-left: 200px;
    margin-top: -15px;
    font-family: $font;
    color: $color_text;
}
.sample{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 16px;
    background: $color_text;
}
.sample::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    border-radius: 16px;
    height: 12px;
    background: $color_text;
    cursor: pointer;
  }
.dataVisuView{
    width: 250px;
    height: 100%;
    margin-left: -8px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}
  
.dataVisuBar{
    margin-left: -8px;
    height: 100%;
    width: 250px;
    float: left;
}

.dataVisuContainer{
    margin-left: 0px;
    height: 100%;
    box-shadow: inset 0px 0px 20px black ;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    width: 500px;
    float: left;
}

.dataVisuContainerAdvanced{
    margin-left: 0px;
    height: 100%;
    box-shadow: inset 0px 0px 20px black ;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    width: 500px;
    float: left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: slideLeft;
}

@keyframes slideLeft{
    from{
        margin-left:0px;
    }
    to{
        margin-left: -250px;
    }
}

.dataVisuContainerParam{
    margin-left: 0px;
    height: 100%;
    box-shadow: inset 0px 0px 20px black ;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    width: 500px;
    float: left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: slideRight;
}

@keyframes slideRight{
    from{
        margin-left:-250px;
    }
    to{
        margin-left: 0px;
    }
}


.advancedBar{
    height: 100%;
    float: left;
    width: 250px;
}

.ChartsRes{
    margin-left: 250px;
    
}

.DashBoard{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    background-color: $color_back;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: center;
    float: left;
    border-radius: 16px;
    margin-left: 20px;
    margin-right: 20px;
    //background-color: rgba(226, 19, 19, 0.171);
}

.scatterBoard{
    float: left;
    //background-color: rgba(35, 106, 168, 0.281);
    width: 50%;
    height: 100%;
}


.doughnutBoard{
    float: left;
    //background-color: rgba(80, 238, 40, 0.295);
    width: 25%;
    height: 50%;
}
.polarBoard{
    float: right;
    //background-color: rgba(233, 17, 233, 0.267);
    width: 25%;
    height: 50%;
}

.hBarxBoard{
    width: 25%;
    height: 50%;
    float: left;
}

.hBaryBoard{
    width: 25%;
    height: 50%;
    float: left;
}



.hBarxBoard2{
    width: 25%;
    height: 50%;
    float: left;
}

.hBaryBoard2{
    width: 25%;
    height: 50%;
    float: left;
}

.indication{
    color: $color_text;
    font-family: $font;
    margin-top: 20px;
    float: left;
    //background-color: rgba(0, 255, 213, 0.397);
    width: 90%;
    height: 40%;
}

.advanced{
    color : $color_text ;
    font-size: small;
    margin-top: 25px;
    margin-left: 150px;
    margin-bottom: -25px;
    cursor: pointer;
}

.return{
    font-size: small;
    margin-top: 25px;
    margin-left: -180px;
    margin-bottom: -25px;
    cursor: pointer;
}