.Demo{
    text-align: center;
    color: var(--color_text);
    font-family: $font;
    margin-top: 100px;
    .democell{
        width: 400px;
        height: 400px;
        -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
        backdrop-filter: blur($blur);
        border-radius: 32px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: var(--color_back);
        position: relative;
        float: left;
        box-shadow: 0px 0px 20px var(--color_shadow) ;
        &:hover{
            box-shadow: 0px 0px 20px var(--color_shadow) ;
            background-color: var(--color_text);
            -webkit-transition: all 200ms linear;
	        transition: all 200ms linear; 
            color : white;
        }
    }
    .democontainer{
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        width: 1000px;
        height: 400px;
    }
    .textDemo{
        font-size: xx-large;
        margin-top: 180px;
    }
    a{
        text-decoration: none;
        color: var(--color_text);
    }
}
