.HistoryCell{
    width: 180px;
    border-radius: 32px;
    height: 200px;
    background-color: $color_back;
    box-shadow: 0px 0px 30px black ;
    /*background-color: rgba(188, 199, 28, 0.2);
    border-style:ridge ;
    border-width: 1px;
    border-color: rgba(188, 199, 28, 1);*/
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    color: $color_text;
    text-align: left;
    font-family: $font;
    font-size: medium;
    &:hover{
        color: white;
        box-shadow: 0px 0px 20px $color_button_hover ;
    }
    p{
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        margin-left: 15px;
        bottom: 0px;
        position: relative;
    }.title{
        margin-top: 160px;
    }
}