.home{
    margin-top:100px;
    bottom: 0px;
    position: relative;
    width: 100%;
    text-align: center;
    .iconeLinkedIn{
        width: 40px;
    }
    .iconeGitHub{
        width: 40px;
    }
    .iconePython{
        width: 40px;
    }
    .iconeSklearn{
        width: 100px;
    }
    .iconeReact{
        width: 40px;
    }
    .iconeTypescript{
        width: 40px;
    }
}