.Upload{
    #drop-area{
        -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
        backdrop-filter: blur($blur);
        background: $color_back;
        margin-top: 150px;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        position:relative;
        border-top-left-radius: 16.00px;
        border-top-right-radius: 16.00px;
        border-bottom-left-radius: 16.00px;
        border-bottom-right-radius: 16.00px;
        border-style:ridge ;
        border-width: 0.5em;
        border-color: black;
        text-align: center;
        font-family: $font;
        color: $color_text;
    }#drop-area.highlight {
        border-color: $color_button_hover;
        box-shadow: 0px 0px 20px $color_button_hover, inset 0px 0px 20px $color_button_hover ;
      }
      #drop-area input{
        background: $color_back;
        display: none;
    }
    .dropTitle{
        padding-top: 19%;
    }
    .nameFile{
        top:20% ;
        position:relative;
        text-align: center;
    }

    #gallery{
        width: 100px;
        height: 100px;
        top:60% ;
        position:fixed;
        left: 30%;
    }
    
}

.separatorSelector{
    color : $color_text;
    position: absolute;
    margin-top: 20px;
    margin-left: 15%;
    select{
        text-align: left;
        margin-left: 10px;
        padding-left: 20px;
    }
}
.button{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    display: inline-block;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border: none;
    background-color: $color_back;
    box-shadow: 0px 0px 30px black ;
    color: $color_text;
    &:hover{
        background-color: $color_button_hover;
        color: white;
        //box-shadow: 0px 0px 20px $color_button_hover ;
    }
}
.sendButton{
    display: inline-block;
    position: absolute;
    padding: 11px;
    background-color: $color_back;
    box-shadow: none;
    margin-left : -30px;
    margin-top: -37px;
    cursor: pointer;
    border: none;
}

.sendFile{
    margin-top: 20px;
    margin-left: 15%;
    width: 400px;
    position: relative;
    background-color: $color_back;
    height: 37px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    box-shadow: 0px 0px 30px black ;
    -webkit-backdrop-filter: blur($blur/2); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur/2);
}
.inputName{
    margin-top: 0px;
    margin-left: 15%;
    border-bottom-right-radius:16px ;
    border-top-right-radius:16px ;
    width: 350px;
    color: $color_text;
    border:none;
    position: relative;
    height: 35px;
    background-color: transparent;
    
}::placeholder{
    color: $color_placeholder;
}
.msg{
    margin-top: 78%;
    position: relative;
    left: 48%;
    font-family:$font;
}