.Upload{
    #drop-area{
        background: transparent;
        width: 60%;
        height: 50%;
        top: 20%;
        left: 26%;
        position: fixed;
        border-top-left-radius: 16.00px;
        border-top-right-radius: 16.00px;
        border-bottom-left-radius: 16.00px;
        border-bottom-right-radius: 16.00px;
        border-style: dashed ;
        border-width: 1em;
        border-color: black;
        text-align: center;
        font-family: $font;
        color: $color_text;
    }#drop-area.highlight {
        border-color: red;
      }
      #drop-area input{
        background: transparent;
        display: none;
    }
    .dropTitle{
        padding-top: 19%;
    }
    .nameFile{
        top:40% ;
        position:fixed;
        left: 40%;
    }
    .progress-bar{
        top:50% ;
        position:fixed;
        left: 30%;
    }

    #gallery{
        width: 100px;
        height: 100px;
        top:60% ;
        position:fixed;
        left: 30%;

    }
    
}
.button{
    display: inline-block;
    padding: 10px;
    border-top-left-radius: 16.00px;
    border-top-right-radius: 16.00px;
    border-bottom-left-radius: 16.00px;
    border-bottom-right-radius: 16.00px;
    background: $color_button;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 30px black ;
    &:hover{
        box-shadow: 0px 0px 20px black ;
        background-color: $color_back;
    }
}
.sendButton{
    display: inline-block;
    position: fixed;
    padding: 10px;
    left : 28%;
    top: 77%;
    border-top-left-radius: 16.00px;
    border-top-right-radius: 16.00px;
    border-bottom-left-radius: 16.00px;
    border-bottom-right-radius: 16.00px;
    color : $color_text;
    background: $color_button;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 30px black ;
    &:hover{
        box-shadow: 0px 0px 20px black ;
        background-color: $color_back;
    }
}
.sendFile{
    top: 76.9%;
    left: 29%;
    width: 250px;
    position: fixed;
    height: 37px;
    background-color: black;
}
.inputName{
    top: 76.9%;
    left: 32.5%;
    border-bottom-right-radius:16px ;
    border-top-right-radius:16px ;
    width: 250px;
    color: white;
    border:none;
    position: fixed;
    height: 35px;
    background-color: black;
}
.msg{
    top: 78%;
    position: fixed;
    left: 48%;
    font-family:$font;
}