.verification {
    h1 {
        text-align: center;
        font-size: 50px;
    }

    div {
        text-align: center;
        margin-top: 10%;
        color: var(--color_text);
        font-size: 30px;
    }
}