/* PALETTE */ 
$color_error : rgb(209, 52, 52);
$blur : 40px;

$font : Poppins, Arial;

$logo : "./assets/Logo.png";
:root {

    --color_back: rgba(20, 20, 20, 0.705);
    --color_trans: #8670700c;
    --color_nav: #181925;
    --color_history: rgba(24, 24, 24, 0.856);
    --color_button: #171824;
    --color_button_hover: #bba422;
    --color_text: #bba422;
    --color_placeholder:rgb(107, 101, 72);
    --color_shadow : black;
    
}

button{
    background-color: var(--color_back);
    border-radius: 16.00px;
    box-shadow: 0px 0px 30px var(--color_shadow) ;
    border: none;
    cursor: pointer;
    color: var(--color_text);
    transition: all 0.2s ease-out;
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    &:hover{
        background-color: var(--color_button_hover);
        color: white;
        //box-shadow: 0px 0px 20px var(--color_button_hover) ;
    }
}
input:focus {
    outline: none;
}
select{
    -webkit-backdrop-filter: blur($blur); /* assure la compatibilité avec safari */
    backdrop-filter: blur($blur);
    background-color: var(--color_back);
}
body{
    background-color: var(--color_shadow);
    //background-image: url("../assets/background2.png");
    //background-size: cover;
    color: var(--color_text);
    background-attachment: fixed;
    font-family: $font;
}

h1,h2,h3{
    font-family: $font;
    color: var(--color_text);
}

h1{
    -webkit-text-stroke: 1.00px var(--color_text);
}

.view{
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top:50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: var(--color_text) !important;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color_shadow); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color_text); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    
  }

  select option {
      background-color: var(--color_back);
      border: var(--color_shadow);
  }