/* PALETTE */ 
$color_back: #14151F;
$color_green: #339999;
$color_blue1: #006699;
$color_blue2: #009999;
$color_green2: #CCFFCC;
$color_green3: #99CC33;
$color_blue3: #339999;
$color_nav: #181925;
/* BUTTON */
$color_button: rgb(17, 19, 32);
$color_shadow : rgba(1, 2, 5, 0.796);
/* TEXT */
$color_text: rgba(112, 112, 112, 1);
$font : Poppins, Arial;

$logo : "./assets/Logo.png";

button{
    background-color: $color_button;
    border-top-left-radius: 16.00px;
    border-top-right-radius: 16.00px;
    border-bottom-left-radius: 16.00px;
    border-bottom-right-radius: 16.00px;
    filter: drop-shadow(-5px -5px 15px ,$color_shadow);
    width: 60.00px;
    height: 60.00px;
    left: 0.00px;
    top: 0.00px;     
}

body{
    background: $color_back;
}

h1{
    font-family: $font;
    color: $color_text;
    -webkit-text-stroke: 1.00px $color_text;
}

.view{
    position: fixed;
    right: 0px;
    left: 200px;
    bottom: 0px;
    top:50px;
}